/*# sourceMappingURL=bootstrap.css.map */
body, html {
  height: 100%;
  font-family: 'Oxygen', sans-serif;
}

.nav a {
  color: white !important;
  background: transparent !important;
}
.navbar-toggle {
  color: white !important;
  background: transparent !important;
  border: 0px transparent solid;
}
.nav a:hover,a:active,a:focus {
  color: #eee !important;
}
.nav li {
  color: white !important;
  background: transparent !important;
}
.heading {
  padding-top: 17%;
  background-color: rgba(0,0,0,.5);

  width: 100%;
  height: 100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
.progress-bar {
  padding-top: 1px;
}
.navbar {
  background-color: #2980b9;
  border-color: transparent;
  font-family: 'Oxygen', sans-serif;
}
.dropdown-toggle { 
  color: white !important;
}

.jumbotron {
  
  text-align: center;
  color: white;
  text-shadow: 0px 1px 3px rgba(0,0,0,1);
  height: 100%;
  padding: 0px;
  margin-bottom: 0px;
  background: transparent;

}
a.navbar-brand {
  color: white !important;
}
.list-group-item-info {
  background-color: #5BC0DE;
  color: #fff;
}
.list-group-item-danger {
  background-color: #D9534F;
  color: #fff;
}
.list-group-item-success {
  background-color: #5CB85C;
  color: #fff;
}
.container-fluid {
    background-color: rgba(0,0,0,.5);

}